html, body {
    margin:0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #000;
}

.invisible {
    display: none;
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.about_image {
    margin-top: 20px;
}

#nav_list {
    position: relative;
}

.gauges {
    width: 150px;
    height: 80px;
    margin-left: -15px;
}
