{% load staticfiles %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <p>You can reach me using <a href="#" id="reveal_email">my email (click to view)</a><mark id="contact_placeholder" class="hide"></mark> or by sending me a message on <a href="https://www.linkedin.com/in/afghahi/">LinkedIn</a> or 
        <a href="https://www.facebook.com/behrooz.af">Facebook</a>.</p>
        <p>You can also fill the form below which will send me an email with your message.</p>
    </div>
  </div>
  <form method="post" action="{{ request.get_full_path }}">
    {% csrf_token %}
    <div class="form-group">
      <label for="contact_title" class="control-label">Title</label>
      <input type="text" class="form-control" id="contact_title" name="name">
    </div>
    <div class="form-group">
      <label for="contact_contact" class="control-label">How can I reach you back?</label>
      <input type="text" class="form-control" id="contact_contact" placeholder="Email, phone number, etc." name="email">
    </div>
    <div class="form-group required">
      <label for="contact_message" class="control-label">Message</label>
      <textarea class="form-control" id="contact_message" rows="6" name="body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"> Send Message</button>
  </form>
</div>
