{% load staticfiles %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <p>You can reach me using <a href="#" id="reveal_email">my email (click to view)</a><mark id="contact_placeholder" class="hide"></mark> or by sending me a message on <a href="https://www.linkedin.com/in/afghahi/">LinkedIn</a> or 
        <a href="https://www.facebook.com/behrooz.af">Facebook</a>.</p>
        <p>You can also fill the form below which will send me an email with your message.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
        <h2>Your message was sent, thank you !</h2>
        <p>I will try to get back to you as soon as possible.</p>
    </div>
  </div>
</div>
