{% load staticfiles %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'menthas_pw/images/me_pic1.jpg' %}" class="img-circle img-responsive about_image" alt="Behrooz Afghahi"/>
    </div>
    <div class="col-md-9">
        <h2>About Me</h2>
        <p>My name is <strong>Behrooz Afghahi</strong>  and I'm a M.S. student in Computer Science at <a href="#">Northeastern University</a>
        concentrating on Artificial Intelligence and in particular Machine Learning and Data Analysis.</p>
        <p>Currently I'm working on data analysis and decision making on a large volumes of data (usually live events) which in most cases are related to web applications and web-based user interactions. In the past few years I've worked on a number of projects including music recommenders, mobile advertisement technologies and log analysis. My current side project is <mark>The Heart</mark>, a speaker recognition device on top of <a href="#">RaspberryPi</a> that interacts with certain speakers by identifying their voice.</p>
        <p>To learn more about the projects I've done and what I do take a look at take <a href="#">my projects</a>, <a href="#">résumé</a> and <a href="#">Github profile</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'menthas_pw/images/the_heart.png' %}" class="img-circle img-responsive about_image" alt="The Heart"/>
      <br />
      <a class="btn btn-default center-block" href="#" role="button">Source <span class="badge">@ Github</span></a>
    </div>
    <div class="col-md-9">
        <h2>About This Site</h2>
        <p>A personal website can contain much more than information. It is a place to experiment and make a statement without many constraints of day to day projects. Put simply, it's a place to go crazy!</p>
        <p>This project was my way of experimenting with the <code>&lt;canvas&gt;</code> element and animations. It only tries to make you wonder for about 5 seconds. It is not tailored for a broad audience nor is it user-friendly. It is a personal website and as such I believe it should get away with it.</p>
        <p>For me, this version, the first, is a statement about different layers of our mind. How we think and reason differently as we go deeper inside and into our thoughts or as we go among our friends, loved ones and society. It also incorporates random events (menus are rendered different each time) and imperfection (many images are off center) which I believe are two important forces inside any of us, making each one of us unique.</p>
        <p>Whats next ? I want to closely measure how people interact with this version, how long will people take before interacting and how randomness
        effects people's experience. I also want to experiment with <mark>natural language processing</mark> and define grammer for the website to take
        commands and make very simple conversation.</p>
    </div>
  </div>
</div>
