<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>take1</title>
    <link rel="shortcut icon" href="{% static 'menthas_pw/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'menthas_pw/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'menthas_pw/styles/main.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="canvas_container">
        <canvas id="main_canvas" data-paper-resize="true"></canvas>
    </div>

    <!-- Modals -->
    <!-- Contact Form modal -->
    <div class="modal fade needs_init_modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="contactModalLabel">Contact Me</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                    <p>You can reach me using <a href="#" id="reveal_email">my email (click to view)</a><mark id="contact_placeholder" class="hide"></mark> or by sending me a message on <a href="#">LinkedIn</a> or 
                    <a href="#">Facebook</a>.</p>
                    <p>You can also fill the form below which will send me an email with your message.</p>
                </div>
              </div>
              <form>
                <div class="form-group">
                  <label for="contact_title" class="control-label">Title</label>
                  <input type="text" class="form-control" id="contact_title">
                </div>
                <div class="form-group">
                  <label for="contact_contact" class="control-label">How can I reach you back?</label>
                  <input type="text" class="form-control" id="contact_contact" placeholder="Email, phone number, etc.">
                </div>
                <div class="form-group required">
                  <label for="contact_message" class="control-label">Message</label>
                  <textarea class="form-control" id="contact_message" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-primary"> Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of contact form modal -->

    <!-- About Me modal -->
    <div class="modal fade needs_init_modal" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="aboutModalLabel">About</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <img src="images/me_pic1.jpg" class="img-circle img-responsive about_image" alt="Behrooz Afghahi"/>
                </div>
                <div class="col-md-9">
                    <h2>About Me</h2>
                    <p>My name is <strong>Behrooz Afghahi</strong>  and I'm a M.S. student in Computer Science at <a href="#">Northeastern University</a>
                    concentrating on Artificial Intelligence and in particular Machine Learning and Data Analysis.</p>
                    <p>Currently I'm working on data analysis and decision making on a large volumes of data (usually live events) which in most cases are related to web applications and web-based user interactions. In the past few years I've worked on a number of projects including music recommenders, mobile advertisement technologies and log analysis. My current side project is <mark>The Heart</mark>, a speaker recognition device on top of <a href="#">RaspberryPi</a> that interacts with certain speakers by identifying their voice.</p>
                    <p>To learn more about the projects I've done and what I do take a look at take <a href="#">my projects</a>, <a href="#">résumé</a> and <a href="#">Github profile</a>.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <img src="images/the_heart.png" class="img-circle img-responsive about_image" alt="The Heart"/>
                  <br />
                  <a class="btn btn-default center-block" href="#" role="button">Source <span class="badge">@ Github</span></a>
                </div>
                <div class="col-md-9">
                    <h2>About This Site</h2>
                    <p>A personal website can contain much more than information. It is a place to experiment and make a statement without many constraints of day to day projects. Put simply, it's a place to go crazy!</p>
                    <p>This project was my way of experimenting with the <code>&lt;canvas&gt;</code> element and animations. It only tries to make you wonder for about 5 seconds. It is not tailored for a broad audience nor is it user-friendly. It is a personal website and as such I believe it should get away with it.</p>
                    <p>For me, this version, the first, is a statement about different layers of our mind. How we think and reason differently as we go deeper inside and into our thoughts or as we go among our friends, loved ones and society. It also incorporates random events (menus are rendered different each time) and imperfection (many images are off center) which I believe are two important forces inside any of us, making each one of us unique.</p>
                    <p>Whats next ? I want to closely measure how people interact with this version, how long will people take before interacting and how randomness
                    effects people's experience. I also want to experiment with <mark>natural language processing</mark> and define grammer for the website to take
                    commands and make very simple conversation.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of about me modal -->

    <!-- Projects modal -->
    <div class="modal fade needs_init_modal" id="projectsModal" tabindex="-1" role="dialog" aria-labelledby="projectsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="projectsModalLabel">About</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <nav id="projects_nav" class="col-md-3">
                  <ul class="list-group" id="nav_list">
                    <li class="list-group-item"><a href="#project_1">Cras justo odio</a></li>
                    <li class="list-group-item"><a href="#project_2">Dapibus ac facilisis in</a></li>
                    <li class="list-group-item"><a href="#project_3">Morbi leo risus</a></li>
                  </ul>
                </nav>
                <div class="col-md-9">
                  <article id="project_1">
                    <h2>Project 1</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus massa, elementum vitae est quis, varius tincidunt erat. Suspendisse porttitor mauris nec molestie dignissim. Donec pharetra metus mi, ac lacinia neque molestie non. Fusce eleifend dignissim gravida. Curabitur nec nulla et felis elementum semper. Sed in est interdum, dignissim elit condimentum, consectetur arcu. Phasellus tincidunt mauris eros, vitae tincidunt metus euismod pellentesque. Nullam felis metus, imperdiet in ante at, porttitor euismod orci. Ut lobortis, ante id elementum dignissim, dolor justo ultrices nulla, scelerisque euismod metus felis id nibh. Quisque sit amet tincidunt ligula, id dictum nisi. Morbi faucibus posuere fringilla.</p>
                    <p>Etiam sit amet eleifend nunc, at auctor diam. Praesent eget nunc nibh. Donec nulla mauris, fringilla et risus pretium, convallis porta risus. Praesent facilisis tempor ipsum. Proin sit amet risus in magna tincidunt mollis vel ac magna. In ipsum ante, porta at neque eu, lacinia sagittis justo. Integer a nunc facilisis, sagittis lacus ac, vehicula dui. Aliquam faucibus non nisl porttitor ornare. Donec sem lectus, consectetur at tempus eu, egestas et nisi. Duis a diam eu leo feugiat volutpat. Nulla finibus ornare mauris quis scelerisque. Pellentesque ut elit quis eros tempor efficitur. Praesent id condimentum est, vitae porttitor nunc. Etiam elementum augue ligula, nec fringilla massa consectetur quis.</p>
                  </article>
                  <article id="project_2">
                    <h2>Project 2</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus massa, elementum vitae est quis, varius tincidunt erat. Suspendisse porttitor mauris nec molestie dignissim. Donec pharetra metus mi, ac lacinia neque molestie non. Fusce eleifend dignissim gravida. Curabitur nec nulla et felis elementum semper. Sed in est interdum, dignissim elit condimentum, consectetur arcu. Phasellus tincidunt mauris eros, vitae tincidunt metus euismod pellentesque. Nullam felis metus, imperdiet in ante at, porttitor euismod orci. Ut lobortis, ante id elementum dignissim, dolor justo ultrices nulla, scelerisque euismod metus felis id nibh. Quisque sit amet tincidunt ligula, id dictum nisi. Morbi faucibus posuere fringilla.</p>
                    <p>Etiam sit amet eleifend nunc, at auctor diam. Praesent eget nunc nibh. Donec nulla mauris, fringilla et risus pretium, convallis porta risus. Praesent facilisis tempor ipsum. Proin sit amet risus in magna tincidunt mollis vel ac magna. In ipsum ante, porta at neque eu, lacinia sagittis justo. Integer a nunc facilisis, sagittis lacus ac, vehicula dui. Aliquam faucibus non nisl porttitor ornare. Donec sem lectus, consectetur at tempus eu, egestas et nisi. Duis a diam eu leo feugiat volutpat. Nulla finibus ornare mauris quis scelerisque. Pellentesque ut elit quis eros tempor efficitur. Praesent id condimentum est, vitae porttitor nunc. Etiam elementum augue ligula, nec fringilla massa consectetur quis.</p>
                  </article>
                  <article id="project_3">
                    <h2>Project 3</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus massa, elementum vitae est quis, varius tincidunt erat. Suspendisse porttitor mauris nec molestie dignissim. Donec pharetra metus mi, ac lacinia neque molestie non. Fusce eleifend dignissim gravida. Curabitur nec nulla et felis elementum semper. Sed in est interdum, dignissim elit condimentum, consectetur arcu. Phasellus tincidunt mauris eros, vitae tincidunt metus euismod pellentesque. Nullam felis metus, imperdiet in ante at, porttitor euismod orci. Ut lobortis, ante id elementum dignissim, dolor justo ultrices nulla, scelerisque euismod metus felis id nibh. Quisque sit amet tincidunt ligula, id dictum nisi. Morbi faucibus posuere fringilla.</p>
                    <p>Etiam sit amet eleifend nunc, at auctor diam. Praesent eget nunc nibh. Donec nulla mauris, fringilla et risus pretium, convallis porta risus. Praesent facilisis tempor ipsum. Proin sit amet risus in magna tincidunt mollis vel ac magna. In ipsum ante, porta at neque eu, lacinia sagittis justo. Integer a nunc facilisis, sagittis lacus ac, vehicula dui. Aliquam faucibus non nisl porttitor ornare. Donec sem lectus, consectetur at tempus eu, egestas et nisi. Duis a diam eu leo feugiat volutpat. Nulla finibus ornare mauris quis scelerisque. Pellentesque ut elit quis eros tempor efficitur. Praesent id condimentum est, vitae porttitor nunc. Etiam elementum augue ligula, nec fringilla massa consectetur quis.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of projects modal -->
    <!-- end of modals -->
    
    <img src="{% static 'menthas_pw/images/31dec2014_1.jpg' %}" alt="init" class="invisible" id="init_img"/>
    <img src="{% static 'menthas_pw/images/clouds.jpg' %}" class="invisible" id="clouds"/>
    <img src="{% static 'menthas_pw/images/31dec2014_2.jpg' %}" alt="live" class="invisible" id="live_img"/>
    <img src="{% static 'menthas_pw/images/linkedin_64_black.png' %}" class="invisible" id="icon_linkedin"/>
    <img src="{% static 'menthas_pw/images/github_64_black.png' %}" class="invisible" id="icon_github"/>
    <img src="{% static 'menthas_pw/images/facebook_128_black.png' %}" class="invisible" id="icon_facebook"/>

    <!-- Libraries & dependencies -->
    <script src="{% static 'menthas_pw/js/jquery.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'menthas_pw/js/paperjs_blur.js' %}"></script>
    <script src="{% static 'menthas_pw/js/underscore.js' %}"></script>
    <script src="{% static 'menthas_pw/js/paper-full.min.js' %}"></script>
    <!-- Code for page logic -->
    <script src="{% static 'menthas_pw/js/content_logic.js' %}"></script>
    <!-- Code to render the canvas -->
    <script src="{% static 'menthas_pw/js/menu_definitions.js' %}"></script>
    <script src="{% static 'menthas_pw/js/canvas_lib.js' %}" type="text/paperscript" data-paper-canvas="main_canvas"></script>
  </body>
</html>
