{% load staticfiles %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <p>The following is a very brief history/description of what I know. But I like to think the
        biggest thing missing from this list is my ability and eagerness to learn new concepts.
        <br/>
        You might also be interested in my <a href="{% static 'menthas_pw/assets/behrooz_afghahi_resume.pdf' %}" target="_blank">résumé</a>
        or <a href="https://www.linkedin.com/in/afghahi/" target="_blank">LinkedIn profile</a>.
        </p>
          
        <h3>Machine Learning <small>or the interesting stuff</small></h3>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_sl" data-value="80" data-title="Supervised Learning"></div>
              </div>
              <div class="col-md-10">
                This has been my main area of interest in the past years. I've worked extensively on
                classification, regression (both linear and logistic) and ensemble methods. Check out
                my projects for the latest updates.
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_cf" data-value="85" data-title="Collaborative Filtering"></div>
              </div>
              <div class="col-md-10">
                Some of my projects in recent years have focused on recommender systems and collaborative
                filtering mostly in in music recommendation. Currently I'm working on hybrid methods that
                add contextual data to increase the accuracy of CF.
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_ul" data-value="40" data-title="Unsupervised/Deep Learning"></div>
              </div>
              <div class="col-md-10">
                I've recently been introduced to the field and am loving it so far. More projects on
                this front are coming.
              </div>
            </div>
        </div>


        <h3>Data Analysis <small>or understanding and predicting</small></h3>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_stats" data-value="90" data-title="Statistics"></div>
              </div>
              <div class="col-md-10">
                At the moment I'm focusing extensively on statistical data analysis of large datasets. To be
                specific this includes the challenges of model fits, statistical inference and model evaluation
                (parameter selection, regression, regularization, ANOVA's all over the place, ...).
                My favorite tool so far ? R !
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_dc" data-value="95" data-title="Distributed Computing"></div>
              </div>
              <div class="col-md-10">
                The achieve all of the above one needs distributed computation! I'm proficient in Hadoop's
                MapReduce and Pig. Starting to work more on Spark and H2O (memory based frameworks) and
                of course coordinating all these mostly with Zookeeper.<br/>
                What platform do I use? At home I either use local instances or Amazon EMR and the like.
                At work, secret architectures!
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_bayesian" data-value="55" data-title="Bayesian Methods"></div>
              </div>
              <div class="col-md-10">
                I worked with Bayesian methods in the context of machine learning but compared to
                frequentist methods, I still need to learn a lot about them.
              </div>
            </div>
        </div>

        <h3>Web <small>or how it all started</small></h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <div class="gauges" id="gauge_web_advance" data-value="85" data-title="Under the Hood"></div>
            </div>
            <div class="col-md-10">
              Web is not just about programming and interfaces and I've mostly worked on the other half.
              That is, CDN's, complex caching using Varnish, Redis, etc. or load balancing using Apache Webserver
              or log aggregation and database management.
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="gauges" id="gauge_python" data-value="95" data-title="Python"></div>
            </div>
            <div class="col-md-10">
              I started Python about 4 years ago and have loved it ever since. In the context of web
              I've worked with frameworks like Flask and Django but Python is my first tool for many
              things including Machine Learning, automation, testing theories and day to day hacking.
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="gauges" id="gauge_php" data-value="90" data-title="PHP"></div>
            </div>
            <div class="col-md-10">
              I started programming with PHP and worked with it for about 6 years before abandoning it
              because of many reasons 
              <a href="http://whydoesitsuck.com/why-does-php-suck/" title="Why PHP Sucks" target="_blank">described here</a>.
              But nevertheless, I'm a certified Zend Engineer
              and I know my way around PHP, Symfony 2.0, Zend Framework, Yii and many other libraries
              and frameworks.
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="gauges" id="gauge_js" data-value="75" data-title="JS, CSS and HTML"></div>
            </div>
            <div class="col-md-10">
              For many years I've worked with the presentation layer on the web including working
              with many JS/CSS frameworks. But more recently I'm working with Javascript/CSS outside
              of the browser. namely the V8 Engine and the Gnome 3 plugin development.
            </div>
          </div>
        </div>

        <h3>Miscellaneous <small>or what I picked up along the way</small></h3>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_devel" data-value="80" data-title="Software Development"></div>
              </div>
              <div class="col-md-10">
                All of the above require good software development to some extent. Through the years
                I've worked with many great teams with different ideas of how that will be achieved.
                I've worked with some of the best build systems and have seen many paths success and fail.
                In short, I understand how important it is to create good software.
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_db" data-value="75" data-title="Data Management"></div>
              </div>
              <div class="col-md-10">
                I'm proficient in MySQL and have deep understanding of RDBMS in general. In tandem I've
                worked a noSQL DBMS as well (Cassandra, CouchDB, Redis, ...). Today with focus on data
                it really comes down to what tool is right for the job and that might be a flat file!
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_ir" data-value="60" data-title="Information Retrieval"></div>
              </div>
              <div class="col-md-10">
                I have moderate understanding of indexing, ranking algorithms, the general concepts (
                bag of words, language models, etc.) and retrieval methods.
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_java" data-value="85" data-title="Java"></div>
              </div>
              <div class="col-md-10">
                My second favorite PL. I've worked with it in many different contexts including MapReduce,
                Web, Machine Learning, Android (SDK and app development).
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="gauges" id="gauge_linux" data-value="75" data-title="Linux"></div>
              </div>
              <div class="col-md-10">
                Yes, I'm Linux user and yes, I've tried OS X and still like Linux better. Apart from
                being my day to day OS, I've worked on different services like BIND, LDAP, IpTables,
                Snort and many more. In short, I know my way around it.<br/>
                What Distro I use? Fedora and sometimes CentOS.
              </div>
            </div>
        </div>

        <h3>Mathematics <small>or food for the soul</small></h3>
        <p> It is hard to be specific about the topics I worked with since I've an academic background
        in Pure Mathematics and I've used different topic along the way. but to mention a few I've
        moderate to proficient knowledge of the following:
        <ul>
          <li>Numerical Analysis</li>
          <li>Probability Theory</li>
          <li>Graph Theory</li>
          <li>Linear Algebra</li>
          <li>Applied Cryptography and Number Theory</li>
          <li>Hyperbolic Geometry (My all time favorite)</li>
        </ul>
        </div>


        


    </div>
  </div>
</div>

<script type="text/javascript">
  $('.gauges').each(function() {
    var color = new paper.Color({
        hue: _.random(0, 360),
        saturation: 0.8,
        brightness: (Math.random() + 0.5) / 1.5,
    });
    var g = new JustGage({
        id: this.id,
        value: $(this).data('value'),
        min: 0,
        max: 100,
        title: $(this).data('title'),
        titleFontColor: 'black',
        valueFontColor: '#CECECE',
        showMinMax: false,
        levelColors: [color.toCSS(true)]
    });
  });
</script>
